@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy: #0C1A30;
  --color-rust: #B9523D;
  --color-white: #FDFBFA;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #FDFBFA;
  --foreground: #0C1A30;
}

.dark {
  --background: #0C1A30;
  --foreground: #FDFBFA;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #0C1A30;
    --foreground: #FDFBFA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
